# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*

# Pytest cache
.pytest_cache/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore built distributions
build/
dist/
*.egg-info/
